h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #392f26;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
body {
  height: 100%;
  width: 100%;
  // background-color: #FAECE0;
}
h1 {
  font: bold 5em "IBM Plex Serif", Helvetica, Arial, serif;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
}
h2 {
  font: italic 2.5em "IBM Plex Serif", Helvetica, Arial, serif;
  line-height: 0px;
  margin-top: 10px;
}
.date {
  font: 18px "IBM Plex Serif", Helvetica, Arial, serif;
  margin-top: 40px;
  margin-left: 20px;
}
.main-body {
  font: 24px "IBM Plex Serif", Helvetica, Arial, serif;
  color: #392f26;
  line-height: 1.5em;
  width: 34em;
  margin: 0 auto;
  max-width: 100%;
  margin-top: 140px;
}
a {
  color: #392f26;
}
