.article {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
}
/* the "\*" is basically selecting all content. the backslash is to escape syntax */
.article > \* {
  grid-column: 2;
}
.date {
  font: 16px "consola", Helvetica, Arial, serif;
  margin-top: -10px;
  color: #7f7f7f;
  letter-spacing: 1.22px;
  text-transform: uppercase;
}
.time {
  color: #000;
}
.title {
  font: 46px "Montserrat", Helvetica, Arial, serif;
  color: #000;
  text-align: left;
  margin-top: 150px;
  line-height: 1em;
}
.subtitle {
  font: 20px "IBM Plex Sans", Helvetica, Arial, serif;
  margin-top: -30px;
  text-align: left;
  font-weight: 300;
  color: #000;
}
.main_body {
  margin-bottom: 100px;
}
.cover_image {
  margin: 10px 0px 5px 0px;
}
.credits {
  font: 12px "IBM Plex Sans", Helvetica, Arial, serif;
  margin: 0px 0px 50px 0px;
  color: #000;
  font-weight: 300;
}
@media screen and (max-width: 800px) {
  .article {
    display: unset;
  }
  .title {
    margin: 50px 15px 0px 15px;
  }
  .subtitle {
    margin: 10px 15px 0px 15px;
  }
  .date {
    margin: 20px 15px 0px 15px;
  }
  .main_body {
    margin: 20px 15px 100px 15px;
  }
  .credits {
    margin-left: 15px;
  }
}
