.postbox {
  background-color: #161616;
  border-color: none;
  border-radius: 8px;
  height: 520px;
  width: 650px;
  margin: 15px 10px 15px 0px;
}
.listtt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.post_list .posttitle {
  font: bold 20px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #ffffff;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  margin: 80px 0px 0px 0px;
}
.post_list .description {
  margin: 10px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
  font: 20px "IBM Plex Sans", Helvetica, Arial, serif;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  line-height: 26px;
  width: 500px;
}
.post_list .uploaddate {
  font: 16px "consola", Helvetica, Arial, serif;
  color: #9c9c9c;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 0px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.post_image {
  padding: 15px;
  padding-bottom: 0px;
  height: 290px;
  width: 620px;
}
.blogbutton {
  padding-top: 20px;
  padding-right: 10px;
  display: inline-block;
  font: 20px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}
.bottompadding {
  text-align: center;
  padding-bottom: 150px;
}
@media screen and (max-width: 800px) {
  .postbox {
    height: 400px;
    width: 400px;
    margin: 15px 15px 15px 15px;
  }
  .post_list .posttitle {
    margin-top: 0px;
  }
  .post_image {
    height: 230px;
    width: 370px;
  }
  .post_list .description {
    width: 350px;
  }
}
