/* IBM plex sans */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

/* IBM plex serif */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap");

@font-face {
  font-family: "consola";
  src: url("../fonts/Consolas.woff") format("woff");
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html,
body {
  background-position: 0 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
body.noScroll {
  /* ...or body.dialogShowing */
  overflow: hidden;
  margin: 0;
}
html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #ffffff;
}
