.navbar {
  justify-content: flex-end;
  display: flex;
  position: absolute;
  top: 40px;
  right: 60px;
  z-index: 2;
}
.navbar .icon_text {
  text-decoration: none !important;
}
.main_logo {
  margin: 33px 0px 0px 60px;
}
.logo_text {
  font: bold 28px "Roboto Mono", Helvetica, Arial, serif;
  color: #ffffff;
}

.icon_text {
  font: 20px "Roboto Mono", Helvetica, Arial, serif;
  color: #777777;
  margin: 20px 0px 0px 30px;
  transition: 0.25s ease-in-out;
  font-weight: 400;
  letter-spacing: 2.4px;
}
.icon_text:hover {
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  .navbar {
    justify-content: flex-start;
    left: 80px;
    right: 0px;
  }
  .main_logo {
    margin-left: 20px;
  }
  .icon_text {
    margin-left: 20px;
  }
}
