label {
  font: 28px "IBM Plex Sans", Helvetica, Arial, serif;
  font-weight: 700;
  color: #faece0;
  position: relative;
  display: block;
  margin-bottom: 10px;
}
h1 {
  font: bold 74px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #faece0;
  text-align: center;
  padding: 40px;
}
.input {
  display: block;
  font: 24px "IBM Plex Sans", Helvetica, Arial, serif;
  font-weight: 400;
  color: #6f6f6f;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2d2d2d;
  border-radius: 8px;
  border: 0px;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.5);
}
.close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/113212/cross.png)
    no-repeat center center;
  text-indent: 200%;
  outline: none;
  color: transparent;
  z-index: 100;
}
::placeholder {
  position: relative;
  margin: 0px;
  padding-left: 15px;
}
textarea::placeholder {
  position: relative;
  margin: 0px;
  padding-top: 15px;
  padding-left: 15px;
}
.bbutt {
  width: 44px;
  opacity: 1;
  z-index: 0;
  border-radius: 8px 8px 0px 0px;
  border: 0px;
}
.bottomdesign {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  z-index: 2;
  height: 100px;
  align-content: flex-end;
  line-height: 0;
  margin-bottom: 0px;
  bottom: 0;
  padding-bottom: 0px;
}
.bbutt-c1 {
  background-color: #ffa300;
  border: 0px;
  background-position: 50% 50%;
  margin: 0px 20px 0px 20px;
}
.bbutt-c2 {
  background-color: #ff780b;
  border: 0px;
  background-position: 57.5% 50%;
  margin: 0px 20px 0px 20px;
}
.bbutt-c3 {
  background-color: #f57677;
  border: 0px;
  background-position: 65% 50%;
  margin: 0px 20px 0px 20px;
}
.bbutt-c4 {
  background-color: #c981a1;
  border: 0px;
  background-position: 72.5% 50%;
  margin: 0px 20px 0px 20px;
}
.bbutt-c5 {
  background-color: #009db0;
  border: 0px;
  background-position: 80% 50%;
  margin: 0px 20px 0px 20px;
}
.bbutt-c6 {
  background-color: #00a491;
  border: 0px;
  background-position: 87.5% 50%;
  margin: 0px 20px 0px 20px;
}
.nameinput,
.mailinput {
  height: 60px;
  width: 467px;
}
.messageinput {
  height: 160px;
  width: 467px;
}
.customisation {
  display: none;
}
.formbox {
  border: 0px;
}
