.primarytext{
  background-color: rgba(255,255,255,0.0);
  position: absolute;
  left: 40px;
  width: 935px;
  top: 134px;
  height: auto;
  margin: 0;
  font-family         : "MonumentExtended-bold", Helvetica, Arial, serif;
  font-size           : 74.0px;
  color               : rgba(35, 35, 35, 1.0);
  letter-spacing      : -0.2px;
  line-height         : 70.0px;
  text-transform: uppercase;
  text-align          : left;
  font-style          : normal;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}

.secondarytext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 600px;
  height              : auto;
  width               : 935px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(245, 245, 245, 1.0);
  text-align          : left;
  letter-spacing      : -0.08px;
  line-height         : 42.0px;
}
