body {
  height: 100%;
  width: 100%;
  background-color: #0a080b;
}
.portfolio_title {
  font: bold 52px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #ffffff;
  letter-spacing: -0.2px;
  line-height: 69px;
  text-align: center;
  font-weight: 600;
}
.primarytext {
  position: relative;
  margin: 0%;
  height: auto;
  max-width: 550px;
  margin-left: 5%;
  padding: 80px 30px 0px 0px;
  font: bold 66px "IBM Plex Sans", Helvetica, Arial, serif;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.2px;
  line-height: 69px;
  text-align: left;
}
.caption_italic {
  margin: 0%;
  margin-left: 5%;
  padding: 30px 30px 0px 0px;
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  color: #ffffff;
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
}
.caption_regular {
  font-style: normal;
}
.secondarytext {
  margin-left: 5%;
  position: relative;
  height: auto;
  max-width: 700px;
  padding: 10px 30px 0px 0px;
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  text-align: left;
  letter-spacing: -0.08px;
  line-height: 38px;
}

.subsectitle {
  font: 17px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #838383;
  text-align: left;
  margin-left: 10%;
}
.reads {
  margin-right: 280px;
}
ul {
  list-style-type: none;
  margin-top: 20px;
}
ul li {
  font: italic 20px "IBM Plex Sans", Helvetica, Arial, serif;
  font-weight: 400;
  line-height: 40px;
}
.postbox {
  background-color: #161616;
  border-color: none;
  border-radius: 8px;
  height: 460px;
  width: 300px;
  margin: 15px 15px 15px 0px;
}
.listtt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.post_list .posttitle {
  font: bold 20px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 0px;
}
.post_list .description {
  margin-top: 8px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font: 16px "IBM Plex Sans", Helvetica, Arial, serif;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  line-height: 22px;
}
.post_list .uploaddate {
  font: 16px "consola", Helvetica, Arial, serif;
  color: #9c9c9c;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 0px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.post_image {
  padding: 15px;
  padding-bottom: 0px;
  height: 290px;
  width: 270px;
}
.blogbutton {
  padding-top: 20px;
  padding-right: 10px;
  display: inline-block;
  font: 20px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}
.bottompadding {
  text-align: center;
  padding-bottom: 150px;
}
@media screen and (max-width: 800px) {
  .reads {
    margin-left: 70px;
    margin-right: 0px;
  }
  .postbox {
    height: 500px;
    width: 350px;
    margin: 15px 15px 15px 15px;
  }
  .post_image {
    height: 290px;
    width: 320px;
  }
  .post_list .posttitle {
    margin-top: 70px;
  }
}
