.footer_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #111111;
  height: 330px;
}

.footer_box > div > .mail_box > .mail_link {
  font: 18px "consola", Helvetica, Arial, serif;
  color: #737373;
  padding-left: 50px;
}
.mail_box {
  padding-top: 10px;
}
.footer_title {
  padding-top: 30px;
  font: 22px "consola", Helvetica, Arial, serif;
  color: #737373;
  letter-spacing: 1.6px;
  padding-left: 50px;
}
.footer_content {
  font: 18px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #737373;
  width: 500px;
  padding-left: 50px;
  padding-top: 10px;
}
.footer_links {
  padding-left: 42px;
  padding-top: 20px;
}
.shoutout {
  font: 16px "IBM Plex Sans", Helvetica, Arial, serif;
  color: #737373;
  width: 250px;
  padding-top: 200px;
  padding-right: 50px;
}
.shoutout > span > a {
  color: #737373;
}
.shoutout > a {
  color: #737373;
}
@media screen and (max-width: 800px) {
  .footer_box {
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
  }
  .footer_title {
    padding-left: 20px;
  }
  .shoutout {
    padding-top: 30px;
    padding-left: 20px;
  }
  .footer_content {
    width: 100%;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_links {
    padding-left: 20px;
  }
  .footer_box > div > .mail_box > .mail_link {
    padding-left: 20px;
  }
}
