.icon_tray {
  display: flex;
  flex-direction: row;
}

.icon_tray > a {
  display: block;
  padding: 10px;
}

.icon_tray > a > svg {
  width: 20px;
  height: 20px;
}

.svg {
  opacity: 0.65;
  scale: 1;
  transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
}

.svg:hover {
  scale: 2;
  opacity: 1;
}
