.nav__item_link{
  top: 15px;
  font-family         : "MonumentExtended-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(35, 35, 35, 1.0);
  letter-spacing      : -0.05px;
  line-height         : 25.0px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 6px;
  position: relative;
}
.nav__item_link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 0%;
  position: absolute;
  background: rgba(35, 35, 35, 1.0);
  transition: width 0.3s ease-in-out;
  width: 0;
	right: 70%;
}
.nav__item_link:hover:after { 
  width: 60%; 
  left: 0;
}
ul {
  float: right;
  list-style: none; 
  display: table;
  width: 400px;
  text-align: center;
  padding-right: 50px;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 0px;
}

/* .topbar {
  left: 300px;
  position: fixed;
  float: right;
  overflow: hidden;
} */
/* @media screen and (max-height: 300px) {
	ul {
		margin-top: 10px;
	}
} */
